## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Florianopolis,BR,71.55,few clouds,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras
1,2,Mubi,NG,72.52,light rain,10.2676,13.2644,LASVEGAS BAR AND MOTEL
2,3,Comonfort,MX,79.29,overcast clouds,20.7167,-100.7667,El Kiosco Verde
3,7,Norman Wells,CA,70.11,overcast clouds,65.2820,-126.8329,Heritage Hotel
4,9,Port-Gentil,GA,73.94,overcast clouds,-0.7193,8.7815,Fengshui Residence

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Arraial Do Cabo")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Arraial Do Cabo")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Peruibe")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Santa Isabel")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Macae")]

In [7]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
38,147,Arraial Do Cabo,BR,73.26,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, Stop 1: {stop1}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 2: {stop2}, Stop 3: {stop3}')
print(f'End: {end}')

Start: (-22.9661, -42.0278), Stop 1: (-24.32, -46.9983)
Stop 2: (-23.3156, -46.2214), Stop 3: (-22.3708, -41.7869)
End: (-22.9661, -42.0278)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
df0 = pd.DataFrame(vacation_start)
df1 = pd.DataFrame(vacation_stop1)
df2 = pd.DataFrame(vacation_stop2)
df3 = pd.DataFrame(vacation_stop3)
df1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
175,621,Peruibe,BR,77.47,overcast clouds,-24.32,-46.9983,Hotel Pousada Xapuri

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([df0, df1, df2, df3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,147,Arraial Do Cabo,BR,73.26,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,621,Peruibe,BR,77.47,overcast clouds,-24.3200,-46.9983,Hotel Pousada Xapuri
2,614,Santa Isabel,BR,78.10,overcast clouds,-23.3156,-46.2214,Chácara Sombra do Altíssimo
3,674,Macae,BR,76.75,clear sky,-22.3708,-41.7869,Golden Tulip Macaé

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))